{% extends "admin.html" %}

{% block content %}


    <div class="padding-md">
        <h1>{{ title }}</h1>
        {{ form }}
        {% with queryset=paginator.get_queryset %}
            {% if queryset.exists %}
                <h2>Processos ({{ paginator.count }})</h2>
                {{ paginator }}
            {% endif %}
        {% endwith %}
    </div>


{% endblock %}
