{% extends "admin.html" %}
{% block content %}
    <div class="padding-md">
        <h1>Download</h1>
        <div class="row">
            <div class="col-lg-12">
                <a href="/media/jre-8u71-windows-x64.exe"><h4>Java Runtime SE</h4></a>
                <a href="/media/DigiPro.zip"><h4>DigiPro.zip</h4></a>
            </div>
        </div>
    </div>
{% endblock %}