{% extends "admin.html" %}
{% block content %}
<div class="padding-md">
    
    <div class="section">
        <h2>Geração de Script de Exportação</h2>
        <div class="alert alert-success">
                Scripts gerados com sucesso! Os processos com aquivos não localizados serão informados a seguir caso existam.
        </div>
        <h5>{{ cliente }}</h5>
        <div>
            <ul>
                {% for processo in nao_encontrados %}
                    <li><a class="popup" href="/view/analisa/processo/{{ processo.pk }}/">{{ processo.numero }}</a> </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
