{% extends "admin.html" %}
{% block content %}
<div class="padding-md">
    
    <div class="section">

        <div style="font-size: 3rem;text-align: center">{{ chave }}</div>


        {{ form|safe }}

    </div>
</div>
{% endblock %}
