<div class="paginator-image-rows">
    {% for obj in self.get_queryset %}
        <div class="col-lg-12" style="padding-left:0">
            <div style="border: 1px solid #ddd; border-radius: 5px; padding: 10px; margin-bottom: 10px; overflow: auto; background-color: white">
                <div style="vertical-align: top; margin-left: 10px;">
                    <div style="float:left;">
                        <div style="margin-right: 20px">
                            {{ obj|getattr:"get_qrcode"|format }}
                        </div>
                    </div>
                    <div>
                        <p style="font-size: 130%; font-weight: bold">
                            {{ obj.numero|format }}
                        </p>
                        <p>
                            {{ obj.numero_paginas|format }} Páginas  / {{ obj.get_tamanho_arquivo }}
                        </p>
                        <p>
                            {{ obj.cliente|format }}
                        </p>
                        <p>
                            {{ obj.objeto|format }}
                        </p>
                        <div style="float: right">
                            <div class="pull-right paginator-actions">
                            {% paginator_icons self obj True %}
                            {% add_actions self obj %}
                            {{ self.drop_down }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>